*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* HEADER */
header .ms_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 80px;
}

/* MAIN */
.grid_background{
    background-color: #BAE1FF;
    padding: 50px 50px 0px 50px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 900px;
    background-color: white;
}

.cell {
    border: 1px solid rgb(0, 0, 0);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-100 {
    width: calc(100% / 10);
}

.cell-81 {
    width: calc(100% / 9);
}

.cell-49 {
    width: calc(100% / 7);
}

.cell_dark {
    background-color: rgb(46, 156, 245);
    color: white;
}

.cell_red {
    background-color: red;
    color: white;
}

.cell:hover{
    cursor: pointer;
}

.result {
    text-align: center;
    padding: 20px;
}
/* FOOTER */
footer .ms_container{
    height: 80px;
    padding: 10px 30px;
}

p {
    margin: auto auto;
}

